body {
    font-family: 'Roboto', sans-serif;
}
.ule {
    text-align: center;
}
.alert-container {

}
.callout-container {
    height: 100vh;
    background: url("asset/images/food-table.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.testimonies-container {

}
.features-container {

}